@import url(https://fonts.googleapis.com/css?family=Iceland|Coda);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

/*-----------------------------------------------------------Tags*/
body {
	background: #f2f2f2;
	margin: 0;
	width: 100%;
}

h1,h2,h3,h4,a { 
	font-family: 'Iceland', sans-serif;
  font-weight: normal;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	color: #215761;
	font-family: 'Coda', cursive;
	font-size: 1.3rem;
}


/*-----------------------------------------------------------Classes*/

.cont-logo {
  background: #215761;
}

.logo {
  width: 35%;
  display: block;
  margin: 2% auto;
}

.title {
  color: #E8EBED;
  background: #215761;
  margin: 0 -5.5% 0 -5.6%;
  padding: 0 0 0.3% 5%;  
  border-bottom: 4px solid #7A9AA0;
  margin-bottom: 4%;
}

.index-header {
	background: url(../img/background.png);
	padding: 10% 0;
	width: 100%;
}

.index-header h1 {
	color: #fff;
	margin: 0;
	text-align: center
} 

.index-wrapper {
	margin: 0 auto;
	width: 90%;
}

.snippet-div {
	padding-bottom: 4%;
  margin: 0 auto;
  width: 90%;
}


.color-list {
	margin: 0 auto;
	width: 90%;
}

.color {
	display: inline-block;
	margin: 0 2%;
	padding: 2%;
}

.color div{
  border-bottom: 3px solid rgba(53,53,53,0.5);
  border-right: 3px solid rgba(53,53,53,0.5);
	height: 100px;
	margin: 0 auto;
	width:100px;
}

.color h4 {
	color: #215761;
}

.fonts-div h4{
	font-family: 'Coda', sans-serif;
}

.title-sizes h3 {
  font-size: 5rem;
}

.title-sizes h4 {
  font-size: 2.5rem;
}

.social-nav li{
	display: inline-block;
  margin-left: 20px;
}

.social-nav img {
	height: 40px;
	width: 40px;
}

/*-----------------------------------------------------------Nav*/
a {
  color: #fff;
  font-size: 2rem;
  padding: 2px;
  text-decoration: none;
  text-transform: capitalize;
}

a:hover {
  border-bottom: 2px solid #f2f2f2; 
}

li {
  list-style: none;
}

header nav {
  background-color: #353535;
  box-sizing: border-box;
  display: block;
  height: 300px;
  margin: 0 auto;
  padding: 2%;
  width: 85%;
}

/*Navbar Styles*/
.nav-logo {
  float: left;
  height: auto;
  margin-right: 2%;
  max-width: 10%; 
}

.nav-logo:hover {
  border: none;
}

.main-nav {
  float: left;
  overflow: hidden;
  width: 70%;
  padding-top: 1%;
}

.sub-nav {
  display: none;
  width: 100%;
  padding-left: 20px;
  margin-top: 5px;
  border-left: 2px solid #fff; 
}

.nav-item {
  display: inline-block;
  float: left;
  margin: 5px 2%;
}

.nav-item:hover .sub-nav {
  display: inline-block; 
}

.sub-nav-item {
  padding-top: 10px;
  width: 100%;
}

/*Language Toggle*/

.lang-toggle {
  float: right;
  overflow: hidden;
  padding: 10px;
  width: 10%;
}

.lang-item {
  float: left;
  margin-right: 10%;
}

/*-----------------------------------------------------------Button*/
.btn {
  display: block;
  border: none;
  width: 155px;
  height: 51px;
  margin-bottom: 20px;
  font-family: 'Iceland', sans-serif;
  color: #fff;
  font-size: 1.6rem;
}

.main {
  background: url(../img/button.png) no-repeat center center;
}

.main:active {
  background: url(../img/button-pressed.png) no-repeat center center;
}

.btn:focus {
  outline: 0;
}

/*-----------------------------------------------------------Colors*/
.blue{
	background-color: #215761;
}

.green {
	background-color:#359E97;
}

.orange {
	background-color:#FD7948;
}

.skin {
	background-color:#E8EBED;
}